.close {
    float: right;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.tasks {
    width: 90%;
    max-width: 800px;
    text-align: left;
    font-size: calc(10px + 2vw);
    border: 1px solid #eeeeee;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.task {
    border: 1px solid #eee;
    font-size: calc(10px + 1.5vw);
    margin: calc(5px + 0.5vw);;
    padding: calc(5px + 0.5vw);
}

.input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    width: 65%;
}

.checkboxContainer {
    display:inline-block;
    width: 5%;
}

.checkbox {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    width: calc(10px + 1.1vw);
    height: calc(10px + 1.1vw);
}

.head {
    padding: calc(5px + 0.5vw);
}

.changeButton {
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    float: right;
    width: 24%;
}